# Database & ORM
sqlalchemy>=2.0.0
psycopg2-binary  # Better for cloud/containerized environments

# Data Processing
pandas
python-dotenv  # To handle environment variables locally

# Streamlit UI (for your Logistics Grid)
streamlit
watchdog       # Optimizes Streamlit performance on many systems

# API & Networking
requests

# Optional but Recommended
openpyxl       # Required for pandas to export/read Excel files

#TimeZone
pytz

#Azure
azure-functions